refer/data/*
pretrained_weights/*
checkpoints/*
demo/*
models/*
aihub_vis/*
aihub_vis_100/*
aihub_vis_100_fix/*
aihub_vis_manu_100/*
aihub_pred_vis/*
*/__pycache__/*
*/*/__pycache__/*
__pycache__
*/.ipynb_checkpoints/*
*/.idea/*
*/.vscode/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.tox/*
*/.venv/*
*/.vs/*
*/.DS_Store
*/.env
*/.env.*
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.coverage