requests
filelock
tqdm
timm
mmcv-full==1.3.12
mmsegmentation==0.17.0
ftfy
regex
scipy
scikit-image
# pycocotools==2.0.2
pycocotools==2.0
# opencv-python==4.5.3.56
opencv-python
tokenizers==0.8.1rc1
h5py